.header{
   body{
              background: url(../imagenes/regalo.jpg) no-repeat center center fixed;
              background-size: cover;
              -webkit-background-size: cover;//para abrir en los distintos exp 
              -moz-background-size:cover;
            }
         
}